* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Thin.eot");
  src: local("Lato Thin"), local("Lato-Thin"), url("../fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Thin.woff2") format("woff2"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("Merriweather-Bold.eot");
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../fonts/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Bold.woff2") format("woff2"), url("../fonts/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("Merriweather-Black.eot");
  src: local("Merriweather Black"), local("Merriweather-Black"), url("../fonts/Merriweather-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Black.woff2") format("woff2"), url("../fonts/Merriweather-Black.woff") format("woff"), url("../fonts/Merriweather-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  margin: 22px 0 30px 0;
}

.header__container {
  max-width: 1116px;
  min-height: 57px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1120px) {
  .header__container {
    padding: 0 15px;
  }
}

@media (max-width: 775px) {
  .header__container {
    min-height: 30px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  width: 671px;
  font-family: Lato;
}

.logo__logo {
  margin: 0 30px 0 0;
}

@media (max-width: 1120px) {
  .logo__logo {
    margin: 0 10px 0 0;
  }
}

.logo__text {
  display: inline-block;
}

.logo__text a {
  font-family: Merriweather;
  font-size: 36px;
  color: #005fa3;
  font-weight: 700;
}

.menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 775px) {
  .menu__info {
    display: none;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 775px) {
  .menu__body {
    display: block;
    position: fixed;
    top: 10%;
    left: 70%;
    background-color: #005fa3b4;
    padding: 0px 35px;
    max-height: 0px;
    font-size: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.menu__link {
  letter-spacing: 0.1em;
  line-height: 17px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 775px) {
  .menu__link {
    display: block;
    margin: 25px 0;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
}

.info {
  margin: 0px 0 25px 0;
  text-align: center;
  font-family: "Lato";
  font-weight: 400;
  color: #222222;
  font-size: 13px;
  line-height: 17px;
}

@media (max-width: 775px) {
  .info {
    margin: 0 0 0 0;
  }
}

.info__phone {
  text-align: center;
  padding: 0 0 0 25px;
  min-height: 100%;
  background: url("../img/phone.svg") left no-repeat;
}

.info__clock {
  min-height: 100%;
  padding: 0 0 0 33px;
  background: url("../img/clock.svg") 0 1px no-repeat;
}

.info__mail {
  padding: 1px 0 2px 35px;
  background: url("../img/mail.svg") left no-repeat;
}

.info__address {
  padding: 1px 0 2px 35px;
  background: url("../img/placeholder.svg") left no-repeat;
}

.link {
  color: #000;
  text-align: center;
}

#burger-menu {
  display: none;
}

#burger-menu:checked ~ .menu__body {
  min-height: 240px;
  z-index: 5;
}

#burger-menu:checked ~ .first {
  display: none;
}

#burger-menu:checked ~ .second {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#burger-menu:checked ~ .third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#burger-menu:checked ~ .fourth {
  display: none;
}

.burger {
  display: none;
}

.burger__line {
  display: none;
}

@media (max-width: 775px) {
  .burger__line {
    display: block;
    position: relative;
    top: -60%;
    left: 80%;
    width: 40px;
    height: 3px;
    background-color: #005fa3;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.second {
  top: -45%;
}

.third {
  top: -50%;
}

.fourth {
  top: -35%;
}

label {
  display: none;
}

@media (max-width: 775px) {
  label {
    display: block;
    position: relative;
    top: 8%;
    left: 80%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
  }
}
