* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("Lato-Thin.eot");
  src: local("Lato Thin"), local("Lato-Thin"), url("../fonts/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Thin.woff2") format("woff2"), url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("Merriweather-Bold.eot");
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../fonts/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Bold.woff2") format("woff2"), url("../fonts/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("Merriweather-Black.eot");
  src: local("Merriweather Black"), local("Merriweather-Black"), url("../fonts/Merriweather-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Black.woff2") format("woff2"), url("../fonts/Merriweather-Black.woff") format("woff"), url("../fonts/Merriweather-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .wrapper {
    width: 600px;
  }
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1120px) {
  .container {
    padding: 0 15px;
  }
}

.header {
  margin: 22px 0 30px 0;
}

@media (max-width: 800px) {
  .header {
    margin: 10px 0;
  }
}

.header__container {
  min-height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .header__container {
    max-height: 30px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0 0 0;
}

.header__menu {
  width: 671px;
  font-family: Lato;
}

@media (max-width: 800px) {
  .header__menu {
    position: relative;
  }
}

.logo__logo {
  margin: 0 30px 0 0;
}

@media (max-width: 1120px) {
  .logo__logo {
    margin: 0 10px 0 0;
  }
}

.logo__text {
  display: inline-block;
}

.logo__text a {
  font-family: Merriweather;
  font-size: 36px;
  color: #005fa3;
  font-weight: 700;
}

@media (max-width: 1120px) {
  .logo__text {
    margin: 0 10px 0 0;
  }
}

.menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .menu__info {
    display: none;
  }
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .menu__body {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 95, 163, 0.9);
    padding: 0px 35px;
    max-height: 0px;
    font-size: 0px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

.menu__link {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  letter-spacing: 0.1em;
  line-height: 17px;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__link:last-child {
  text-align: end;
}

.menu__link:hover {
  font-size: 16px;
  font-weight: 900;
}

@media (max-width: 800px) {
  .menu__link {
    display: block;
    margin: 70px 0;
    font-size: 30px;
    color: white;
  }
  .menu__link:hover {
    font-size: 30px;
    text-decoration: underline;
  }
  .menu__link:last-child {
    text-align: center;
  }
}

.info {
  margin: 0px 0 25px 0;
  text-align: center;
  font-family: "Lato";
  font-weight: 400;
  color: #222222;
  font-size: 13px;
  line-height: 17px;
}

@media (max-width: 800px) {
  .info {
    margin: 0 0 0 0;
  }
}

.info__phone {
  text-align: center;
  padding: 0 0 0 25px;
  min-height: 100%;
  background: url("../img/phone.svg") left no-repeat;
}

.info__clock {
  min-height: 100%;
  padding: 0 0 0 33px;
  background: url("../img/clock.svg") 0 1px no-repeat;
}

.info__mail {
  padding: 1px 0 2px 35px;
  background: url("../img/mail.svg") left no-repeat;
}

.info__address {
  padding: 1px 0 2px 35px;
  background: url("../img/placeholder.svg") left no-repeat;
}

.link {
  color: #000;
  text-align: center;
}

#burger-menu {
  display: none;
  z-index: 9;
}

@media (max-width: 800px) {
  #burger-menu:checked ~ .menu__body {
    max-height: 100%;
    z-index: 5;
    min-width: 100%;
    text-align: center;
    -webkit-transition: all 0.5s ease 0.25s;
    transition: all 0.5s ease 0.25s;
  }
  #burger-menu:checked ~ .first {
    display: none;
  }
  #burger-menu:checked ~ .second {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #ffffff;
  }
  #burger-menu:checked ~ .third {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #ffffff;
  }
  #burger-menu:checked ~ .fourth {
    display: none;
  }
}

.burger__line {
  display: none;
}

@media (max-width: 800px) {
  .burger__line {
    z-index: 6;
    display: block;
    position: relative;
    top: -60%;
    left: 80%;
    width: 40px;
    height: 3px;
    background-color: #005fa3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.burger__label {
  display: none;
}

@media (max-width: 800px) {
  .burger__label {
    display: block;
    position: relative;
    top: 8%;
    left: 80%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9;
  }
}

.second {
  top: -44%;
}

.third {
  top: -50%;
}

.fourth {
  top: -35%;
}

.main__first-slider {
  background-image: url("/img/slides/Rectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main__our-services {
  background-color: #ebebeb;
}

.main__our-clients {
  background: #ebebeb;
}

.main__contact-us {
  background-image: url("/img/slides/Rectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.first-slider__slider {
  padding: 155px 0 113px 0;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 2.8fr 0.1fr 0.1fr;
      grid-template-columns: 2.8fr 0.1fr 0.1fr;
  -ms-grid-rows: 1fr 60px;
      grid-template-rows: 1fr 60px;
  gap: 0px 0px;
      grid-template-areas: "first-slider__slides first-slider__slides first-slider__slides" "slider__dots slide-arrow-prev slide-arrow-next";
}

.first-slider__slider input {
  display: none;
}

.first-slider__slides {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: first-slider__slides;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.first-slider__slide {
  min-width: 100%;
  margin-bottom: 70px;
}

.slider__text {
  max-width: 589px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
  color: #ffffff;
  top: 0;
  width: 589px;
  padding: 0 0 80px 0;
  display: block;
}

.slider__dots {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: slider__dots;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
  height: 10px;
  text-align: left;
}

.slider__dots :first-child {
  margin: 0 15px 0 1px;
}

.slider__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 15px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.slider__dot:hover {
  cursor: pointer;
  background-color: white;
}

.button {
  width: 270px;
  height: 60px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #005fa3;
}

.slide-arrow-prev {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: slide-arrow-prev;
  width: 60px;
  height: 60px;
  text-align: center;
  position: relative;
}

.slide-arrow-prev img {
  padding: 20px 0 0 0;
}

.slide-arrow-prev label {
  background-color: rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 60px;
  z-index: 0;
  display: none;
  position: relative;
  top: -35px;
}

.slide-arrow-prev:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slide-arrow-next {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: slide-arrow-next;
  width: 60px;
  height: 60px;
  text-align: center;
}

.slide-arrow-next img {
  padding: 20px 0 0 0;
}

.slide-arrow-next label {
  background-color: rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 60px;
  z-index: 0;
  display: none;
  position: relative;
  top: -35px;
}

.slide-arrow-next:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

input#slide-1:checked ~ .slider__dots label#dot-1,
input#slide-2:checked ~ .slider__dots label#dot-2,
input#slide-3:checked ~ .slider__dots label#dot-3,
input#slide-4:checked ~ .slider__dots label#dot-4 {
  background: white;
}

#slide-1:checked ~ .first-slider__slides {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

#slide-2:checked ~ .first-slider__slides {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

#slide-3:checked ~ .first-slider__slides {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

#slide-4:checked ~ .first-slider__slides {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

input#slide-1:checked ~ .slide-arrow-prev .slider-arrow-1,
input#slide-1:checked ~ .slide-arrow-next .slider-arrow-1,
input#slide-2:checked ~ .slide-arrow-prev .slider-arrow-2,
input#slide-3:checked ~ .slide-arrow-prev .slider-arrow-3,
input#slide-2:checked ~ .slide-arrow-next .slider-arrow-2,
input#slide-3:checked ~ .slide-arrow-next .slider-arrow-3,
input#slide-4:checked ~ .slide-arrow-prev .slider-arrow-4,
input#slide-4:checked ~ .slide-arrow-next .slider-arrow-4 {
  display: block;
  z-index: 1;
}

.our-services__container {
  padding: 0 0 140px 0;
}

@media (max-width: 1120px) {
  .our-services__container {
    padding: 0 15px;
  }
}

.our-services__title {
  padding: 140px 0 0 0;
}

@media (max-width: 1120px) {
  .our-services__title {
    padding: 50px 0 0 50px;
  }
}

@media (max-width: 800px) {
  .our-services__title {
    text-align: center;
    padding: 40px 0 0 0;
  }
}

.our-services__subtitle {
  padding: 40px 0 70px 0;
}

@media (max-width: 1120px) {
  .our-services__subtitle {
    margin: 0 auto;
    padding-left: 50px;
  }
}

@media (max-width: 800px) {
  .our-services__subtitle {
    text-align: center;
    padding: 20px 0;
  }
}

.title {
  font-family: "Lato";
  font-weight: 900;
  font-size: 24px;
  line-height: 33.12px;
  color: #bdbdbd;
}

.subtitle {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 69px;
  color: #333333;
}

.subtitle span {
  color: #005fa3;
}

.items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.items__item :nth-child(-n + 3) {
  margin: 0 0 30px 0;
}

@media (max-width: 1120px) {
  .items__item {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .items__item :nth-child(-n + 5) {
    margin: 0 0 30px 0;
  }
}

.item {
  width: 350px;
  height: 360px;
  background: url(/img/city_item.png) no-repeat;
  -webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.item:hover {
  background: url(/img/city_blue.png) no-repeat;
}

.item__text {
  position: relative;
  top: 70%;
  left: 10%;
  max-width: 187px;
}

.item__text a {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 140px 0;
}

@media (max-width: 880px) {
  .about-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
}

.about-us__text {
  max-width: 445px;
}

@media (max-width: 880px) {
  .about-us__text {
    margin: 0 auto;
    padding: 0 0 30px 0;
  }
}

.about-us__cases {
  margin: 24px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 540px;
}

.about-us__cases :nth-child(-n + 2) {
  margin: 0 0 30px 0;
}

@media (max-width: 1120px) {
  .about-us__cases {
    margin: 0 auto;
  }
}

.about-us__case {
  width: 255px;
  height: 255px;
  background: #ebebeb;
  text-align: left;
  padding: 30px 0 0 40px;
}

.about-us__case:hover {
  background: #005fa3;
  color: #ffffff;
}

.about-us__case:hover a {
  color: #ffffff;
}

.about-us__title {
  margin: 0 0 45px 0;
}

@media (max-width: 800px) {
  .about-us__title {
    text-align: center;
  }
}

.about-us__subtitle {
  margin: 0 0 60px 0;
}

@media (max-width: 800px) {
  .about-us__subtitle {
    text-align: center;
  }
}

.text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

@media (max-width: 800px) {
  .text {
    text-align: justify;
  }
}

.case__title {
  margin: 0 0 30px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.case__text {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  width: 107px;
  margin: 0 0 47px 0;
}

.case__link a {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #005fa3;
}

.our-clients {
  padding: 100px 0;
  overflow: hidden;
}

@media (max-width: 800px) {
  .our-clients {
    padding: 40px 0;
  }
}

.our-clients__title {
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .our-clients__title {
    text-align: center;
  }
}

.our-clients__subtitle {
  margin-bottom: 80px;
  line-height: 37px;
}

@media (max-width: 800px) {
  .our-clients__subtitle {
    text-align: center;
    margin-bottom: 40px;
  }
}

.our-clients__slider {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 2.8fr 0.1fr 0.1fr;
      grid-template-columns: 2.8fr 0.1fr 0.1fr;
  -ms-grid-rows: 1fr 60px;
      grid-template-rows: 1fr 60px;
  gap: 0px 0px;
      grid-template-areas: "our-clients__slides our-clients__slides our-clients__slides" "slider-dots-blue arrow-prev arrow-next";
}

.our-clients__slider input {
  display: none;
}

.our-clients__slides {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 50px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: our-clients__slides;
}

.our-clients__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-clients__slide img {
  margin-right: 30px;
}

.our-clients__slide :nth-child(4) {
  margin-right: 0;
}

@media (max-width: 1120px) {
  .our-clients__slide {
    min-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-clients__slide img {
    margin-right: 0px;
  }
}

.arrow-prev {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: arrow-prev;
  background-color: rgba(0, 95, 163, 0.2);
}

.arrow-prev label {
  width: 60px;
  height: 60px;
  z-index: 0;
  display: none;
  position: relative;
}

.arrow-prev label img {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.arrow-prev:hover {
  background-color: #005fa3;
}

@media (max-width: 1120px) {
  .arrow-prev {
    left: 65%;
  }
}

.arrow-next {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: arrow-next;
  background-color: rgba(0, 95, 163, 0.2);
}

.arrow-next label {
  width: 60px;
  height: 60px;
  z-index: 0;
  display: none;
  position: relative;
}

.arrow-next label img {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.arrow-next:hover {
  background-color: #005fa3;
}

@media (max-width: 1120px) {
  .arrow-next {
    left: 65%;
  }
}

.slider-dots-blue {
  display: inline-block;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: slider-dots-blue;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
}

.dot-blue {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(0, 95, 163, 0.4);
  display: inline-block;
  margin-right: 40px;
}

.dot-blue:hover {
  cursor: pointer;
  background-color: #005fa3;
}

input#btn-1:checked ~ .slider-dots-blue label#img-1,
input#btn-2:checked ~ .slider-dots-blue label#img-2,
input#btn-3:checked ~ .slider-dots-blue label#img-3,
input#btn-4:checked ~ .slider-dots-blue label#img-4 {
  background-color: #005fa3;
}

input#btn-1:checked ~ .arrow-prev .arrow-1,
input#btn-1:checked ~ .arrow-next .arrow-1,
input#btn-2:checked ~ .arrow-prev .arrow-2,
input#btn-3:checked ~ .arrow-prev .arrow-3,
input#btn-2:checked ~ .arrow-next .arrow-2,
input#btn-3:checked ~ .arrow-next .arrow-3,
input#btn-4:checked ~ .arrow-prev .arrow-4,
input#btn-4:checked ~ .arrow-next .arrow-4 {
  display: block;
  z-index: 1;
}

#btn-1:checked ~ .our-clients__slides {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

#btn-2:checked ~ .our-clients__slides {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

#btn-3:checked ~ .our-clients__slides {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

#btn-4:checked ~ .our-clients__slides {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.reviews {
  overflow: hidden;
  padding: 140px 0;
}

@media (max-width: 800px) {
  .reviews {
    padding: 40px 0;
  }
}

.reviews__title {
  margin-bottom: 40px;
  line-height: 23px;
}

@media (max-width: 800px) {
  .reviews__title {
    text-align: center;
  }
}

.reviews__subtitle {
  line-height: 40px;
  margin-bottom: 80px;
}

@media (max-width: 800px) {
  .reviews__subtitle {
    text-align: center;
  }
}

.reviews__slaider {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 2.8fr 0.1fr 0.1fr;
      grid-template-columns: 2.8fr 0.1fr 0.1fr;
  -ms-grid-rows: 1fr 60px;
      grid-template-rows: 1fr 60px;
  gap: 0px 0px;
      grid-template-areas: "reviews__slides reviews__slides reviews__slides" "rewiew-dots-blue rewiew-arrow-prev rewiew-arrow-next";
}

.reviews__slaider input {
  display: none;
}

.reviews__slides {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: reviews__slides;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.reviews__slide {
  background-color: #ebebeb;
  min-width: 100%;
  padding: 45px 95px;
}

.info-client {
  margin-top: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-client__photo {
  display: inline-block;
}

.info-client__client {
  display: inline-block;
  padding: 17px 35px;
}

.info-client__name-client {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
}

.info-client__company-client {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #4f4f4f;
}

.rewiew-dots-blue {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: rewiew-dots-blue;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
}

.rewiew-dot-blue {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(0, 95, 163, 0.4);
  display: inline-block;
  margin-right: 40px;
}

.rewiew-dot-blue:hover {
  cursor: pointer;
  background-color: #005fa3;
}

.rewiew-arrow-prev {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: rewiew-arrow-prev;
  background-color: rgba(0, 95, 163, 0.2);
}

.rewiew-arrow-prev label {
  width: 60px;
  height: 60px;
  z-index: 0;
  display: none;
  position: relative;
}

.rewiew-arrow-prev label img {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.rewiew-arrow-prev:hover {
  background-color: #005fa3;
}

@media (max-width: 1120px) {
  .rewiew-arrow-prev {
    left: 65%;
  }
}

.rewiew-arrow-next {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: rewiew-arrow-next;
  background-color: rgba(0, 95, 163, 0.2);
}

.rewiew-arrow-next label {
  width: 60px;
  height: 60px;
  z-index: 0;
  display: none;
  position: relative;
}

.rewiew-arrow-next label img {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.rewiew-arrow-next:hover {
  background-color: #005fa3;
}

@media (max-width: 1120px) {
  .rewiew-arrow-next {
    left: 65%;
  }
}

input#rew-inp-1:checked ~ .rewiew-dots-blue label#rewiew-1,
input#rew-inp-2:checked ~ .rewiew-dots-blue label#rewiew-2,
input#rew-inp-3:checked ~ .rewiew-dots-blue label#rewiew-3,
input#rew-inp-4:checked ~ .rewiew-dots-blue label#rewiew-4 {
  background-color: #005fa3;
}

input#rew-inp-1:checked ~ .rewiew-arrow-prev .arrow-1,
input#rew-inp-1:checked ~ .rewiew-arrow-next .arrow-1,
input#rew-inp-2:checked ~ .rewiew-arrow-prev .arrow-2,
input#rew-inp-3:checked ~ .rewiew-arrow-prev .arrow-3,
input#rew-inp-2:checked ~ .rewiew-arrow-next .arrow-2,
input#rew-inp-3:checked ~ .rewiew-arrow-next .arrow-3,
input#rew-inp-4:checked ~ .rewiew-arrow-prev .arrow-4,
input#rew-inp-4:checked ~ .rewiew-arrow-next .arrow-4 {
  display: block;
  z-index: 1;
}

#rew-inp-1:checked ~ .reviews__slides {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

#rew-inp-2:checked ~ .reviews__slides {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

#rew-inp-3:checked ~ .reviews__slides {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

#rew-inp-4:checked ~ .reviews__slides {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 122px 0 140px 0;
}

@media (max-width: 800px) {
  .contact-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 50px;
  }
}

@media (max-width: 600px) {
  .contact-us {
    padding: 20px 0 0 0;
  }
}

.contact-us__contact-us {
  position: relative;
}

.contact-us__subtitle {
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 60px;
}

.contact-us__text {
  max-width: 445px;
  color: #ffffff;
  margin-bottom: 80px;
  font-weight: 300;
}

.contact-us__phone {
  display: inline-block;
  margin: 0 40px 20px 0;
  padding-left: 35px;
  background: url(/img/phone-white.svg) 0 0 no-repeat;
  text-align: center;
}

.contact-us__phone a {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #ffffff;
}

.contact-us__mail {
  display: inline-block;
  padding-left: 53px;
  background: url(/img/mail-white.svg) 0 0 no-repeat;
  text-align: center;
}

.contact-us__mail a {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}

.contact-us__form {
  min-width: 540px;
  position: relative;
}

@media (max-width: 600px) {
  .contact-us__form {
    padding: 20px 0;
  }
}

.form__name {
  display: inline-block;
  margin-right: 30px;
}

.form__name :focus::-webkit-input-placeholder {
  color: transparent;
}

.form__name :focus::-moz-placeholder {
  color: transparent;
}

.form__name :focus:-moz-placeholder {
  color: transparent;
}

.form__name :focus:-ms-input-placeholder {
  color: transparent;
}

.form__name :hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.form__name ::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__name :-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__name ::-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__name ::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__name div {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 15px;
}

.form__name input {
  min-width: 255px;
  min-height: 36px;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
}

.form__surname {
  display: inline-block;
}

.form__surname ::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__surname :-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__surname ::-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__surname ::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__surname :focus::-webkit-input-placeholder {
  color: transparent;
}

.form__surname :focus::-moz-placeholder {
  color: transparent;
}

.form__surname :focus:-moz-placeholder {
  color: transparent;
}

.form__surname :focus:-ms-input-placeholder {
  color: transparent;
}

.form__surname :hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.form__surname div {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 15px;
}

.form__surname input {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  min-width: 255px;
  min-height: 36px;
}

.form__text {
  margin: 35px 0 50px 0;
}

.form__text ::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__text :-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__text ::-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__text ::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #bdbdbd;
}

.form__text :focus::-webkit-input-placeholder {
  color: transparent;
}

.form__text :focus::-moz-placeholder {
  color: transparent;
}

.form__text :focus:-moz-placeholder {
  color: transparent;
}

.form__text :focus:-ms-input-placeholder {
  color: transparent;
}

.form__text :hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.form__text textarea {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  resize: none;
}

.form__text div {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 5px;
}

.form__button {
  position: relative;
  left: 50%;
}

.footer {
  padding: 50px 0 40px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
